@model CVMSCore.BAL.Models.Master.UserDetail

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Change Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="wraper-main wraper-login">
        <div class="wraper-login-inner">
            <a href="#" class="linkquest_text_logo">LINKQUEST TECHNOLOGIES</a>
            <div class="login-box">

                <form class="login-form">
                    <div class="login-Email-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Email Id" autocomplete="off">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p class="text-et text-danger" id="pMessage"> </p>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" id="btnSendCode" class="btn btnBlack send-code-btn">Get Link</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="http://www.linkquestglobal.com/js/jquery-1.9.1.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/content/js/common.js"></script>
    <script src="~/content/js/account/changepasswordjs.js"></script>
</body>


</html>


