
@{
    ViewData["Title"] = "Studentaddcoursepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
           
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .view {
            background-color: transparent;
            /* padding: 50px;*/
            /* border-radius: 8px;*/
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
            width: auto;
            margin-top:-38%;
            /* text-align: center;*/
        }

        .maindiv {
            background: url("https://wallpaperswide.com/download/light_background-wallpaper-3840x2160.jpg");
            background-size: cover;
             background-position: center;
            height: 120vh; /* Use 100vh to ensure the full height of the viewport is covered */
            display: flex;
             justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #b3ecff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: left;
        }

            .form-group label {
                display: block;
                margin-bottom: 5px;
            }

            .form-group input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .form-group select {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .form-group button {
                background-color: #ff99ff;
                color: #fff;
                border: none;
                padding: 10px;
                border-radius: 4px;
                cursor: pointer;
                width: 100%;
            }

                .form-group button:hover {
                    background-color: #45a049;
                }


        #Home {
            background-color: #ff99ff;
            border-radius: 8px;
            padding: 10px;
            margin-right: 20px;
        }

        #StudentMenupage{
            background-color: #ff99ff;
            border-radius: 8px;
            padding: 10px;
        }





    </style>
    <title>Add Course</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: aquamarine; width:100%">
        @* <a class="navbar-brand" href="#">Online Courses</a>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="Home" style="color:whitesmoke" href="#">Home <span class="sr-only">(current)</span></a>

                </li>
                <li>
                    <a class="nav-link" id="StudentMenupage" style="color:whitesmoke" href="#">Menupage <span class="sr-only">(current)</span></a>
                </li>
                @* <li class="nav-item">
                <a class="nav-link" id="Admin" href="#">Admin</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="Student" href="#">Student</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="teacher" href="#">Teacher</a>
                </li>*@
            </ul>
        </div>
    </nav>
    <div class="maindiv">
   
    <div class="container">
        <h2><b>Add Course</b></h2>
        <form>
            <div class="form-group">
                <label for="SUBJECTID">Subject Id:</label>
                <input type="text" id="subjectid" name="subject" placeholder="Enter your Subject Id" required>
            </div>

            <div class="form-group">
                <label for="SUBJECTNAME">Subject Name:</label>
                <input type="text" id="Subjectname" name="subjectname" placeholder="Enter your Subject Name" required>
            </div>

            <div class="form-group">
                <label for="CLASS">Class:</label>
                <input type="text" id="Standard" name="Class" placeholder="Enter your Class" required>
            </div>

            @*<div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            </select>
            </div>
            *@
            <div class="form-group">
                <label for="Teachername">Teacher Name:</label>
                <input type="text" id="Teachername" name="Teachername" placeholder="Enter Teacher Name" required>
            </div>

            <div class="form-group">
                <label for="TIME">Time:</label>
                <input type="text" id="Time" name="Time" placeholder="Enter Time" required>
            </div>

            <div class="form-group">
                <label for="CourseDuration">Course Duration:</label>
                <input type="text" id="Courseduration" name="Courseduration" placeholder="Course Duration" required>
            </div>

            <div class="form-group">
                <label for="FEES">Fees:</label>
                <input type="text" id="Fees" name="Fees" placeholder="Fees" required>
            </div>





            <div class="form-group">
                <button id="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
   


@*--------------------------------------------------------------------------------------------------------------------------------------------*@

    @*<div class="wraper-main-detail">
    <div class="container-fluid">
        <div class="row page-heading-row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="page-heading">Buy section</h1>
            </div>
        </div>
        <div class="shadow-border mb-3 bg-light">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="label-dflt">Country</label>
                        <select class="form-control">
                            <option selected="">Select Country</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="label-dflt">State</label>
                        <select class="form-control">
                            <option selected="">Select State</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="label-dflt">City</label>
                        <select class="form-control">
                            <option selected="">Select city</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="views">
    <div class="view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="search-strip">
                        <ul class="search-box d-flex">
                            <li class="flex-grow-1"><input type="text" placeholder="search.." id="search" class="form-control"></li>
                            <li><button type="button" class="btn btngrey"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                        </ul>

                    </div>


                    <div class="table-responsive">
                        <table id="usertbl" class="table table-hover master-table table-bordered">
                            <thead class="table-light-head">
                                <tr>
                                    <th scope="col">S no.</th>
                                    <th scope="col">SUBJECT ID</th>
                                    <th scope="col">SUBJECT Name</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">TEACHER NAME</th>
                                    <th scope="col">TIME</th>
                                    <th scope="col">COURSE DURATION</th>
                                    <th scope="col">FEES</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="mtable">
                              @* <tr>
                                    <th scope="row">1</th>
                                    <td>HIS</td>
                                    <td>HISTORY</td>
                                    <td>Five</td>
                                    <td>SOUMYADIP</td>
                                    <td>15:00</td>
                                    <td>20JAN-23JAN</td>
                                    <td>700</td>

                                    <td>

                                       
                                        <button type="button" class="btn btn-success">Subscribe</button>
                                        <button type="button" data-toggle="modal" data-target="#master-toggle" class="btn btn-sm btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button type="button" data-toggle="modal" data-target="#master-toggle" class="btn btn-sm btn-info"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-sm btn-danger">
                                             <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>*@

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</div>
    <footer class="text-black text-center p-3 mt-0" style="background-color:aquamarine">
        <p>&copy; 2023 online Course Education system.</p>
    </footer>
</body>
</html>
<script>
 $('#Home').click(function () {
        window.location.href = 'https://localhost:7044/Index/Index';
    });
    $('#StudentMenupage').click(function () {
        window.location.href = 'https://localhost:7044/Index/StudentMenuPage';
    });
    </script>

<script src="~/Content/OnlineCourse/StuchoosecoursegetJavaScript.js"></script>

